Tests/WGSharpAPITests/obj/*
Projects/WGSharpAPILibrary/obj/*
Solutions/*.suo
Projects/WGSharpAPILibrary/bin/*
Release/*
Tests/WGSharpAPITests/bin/*
Samples/Basic/SearchPlayers/bin/*
Samples/Basic/SearchPlayers/obj/*
Samples/Basic/SearchPlayers/*.suo
Samples/Complex/Sample.QueueRequests/bin/*
Samples/Complex/Sample.QueueRequests/obj/*
Samples/Complex/Sample.QueueRequests/*.suo
Solutions/TestResults/*
*.dll
*.suo
